@import '../../Styles/constant';

.contact_container {
  @include flex(column, flex-start, center);
  @include occupyFullSpace();
  overflow: auto;
  gap: 50px;
  padding: 50px 0 150px;

  @media screen and (max-width:500px) {
    width: 100%;
    overflow-x: hidden;
  }

  .intro_heading {
    max-width: 1000px;
    @include flex(column, flex-start, center);

    & h2 {
      font-family: Bricolage Grotesque;
      color: $black;
      font-size: 52px;
      margin: 0px 0px 12px;

      @media screen and (max-width:500px) {
        font-size: 32px;
      }

      @media screen and (max-width:375px) {
        font-size: 26px;
      }
    }
  }

  .contact_heading {
    @include flex(row, space-between, center);
    width: 1300px;

    @media screen and (max-width:500px) {
      flex-direction: column;
      width: 90vw;
    }

    .illustration {
      width: 50%;

      @media screen and (max-width:500px) {
        width: 100%;
      }

      svg {
        min-width: 450px;
        height: 250px;

        @media screen and (max-width:500px) {
          min-width: unset;
          width: 350px;
        }
      }
    }

    .header {
      width: 50%;


      @media screen and (max-width:500px) {
        width: 100%;
      }

      h2 {
        font-family: Bricolage Grotesque;
        font-weight: 400;
        color: $black;
        font-size: 40px;
        margin: 0;
        line-height: 100%;

        @media screen and (max-width:500px) {
          font-size: 30px;
        }
      }

      h3 {
        font-family: Agrandir;
        font-weight: 400;
        color: $black;
        font-size: 24px;
        line-height: 100%;

        @media screen and (max-width:500px) {
          font-size: 20px;
        }
      }
    }
  }

  .contact_form {
    @include flex(row, space-between, center);
    width: 1300px;

    @media screen and (max-width:500px) {
      max-width: 95vw;
      flex-direction: column;
      gap: 50px;
    }

    .contact_info {
      @include flex(column, center, center);
      width: 40%;
      border-radius: 12px;
      background-color: $black;
      padding: 24px;
      gap: 30px;

      @media screen and (max-width:500px) {
        width: 100%;
        padding: 8px;
        gap: 10px;
      }

      .info_card {
        @include flex(row, flex-start, flex-start);
        width: 100%;

        .left {
          @include flex(row, center, center);
          width: 50px;
          height: 36px;

          @media screen and (max-width:500px) {
            width: 36px;
            height: 30px;
          }

          svg {
            @media screen and (max-width:500px) {
              width: 20px;
              height: 20px;
            }
          }
        }

        .right {
          @include flex(column, flex-start, flex-start);
          gap: 8px;

          @media screen and (max-width:500px) {
            gap: 4px;
          }

          h3 {
            font-family: Bricolage Grotesque;
            margin: 0;
            font-weight: 600;
            font-size: 24px;

            @media screen and (max-width:500px) {
              font-size: 20px;
            }
          }

          .desx1 {
            font-family: Agrandir;
            font-size: 20px;

            @media screen and (max-width:500px) {
              font-size: 16px;
            }
          }

          .desx2 {
            @include flex(row, flex-start, center);
            gap: 20px;
            font-size: 20px;

            @media screen and (max-width:500px) {
              font-size: 16px;
            }

            a {
              @include flex(row, flex-end, flex-end);
              font-family: Agrandir;
              color: $white;
              text-decoration: none;

              span {
                font-weight: 600;
                color: $green1;
              }
            }

          }
        }
      }
    }

    .form {
      @include flex(column, flex-start, flex-start);
      width: 50%;
      gap: 20px;

      @media screen and (max-width:500px) {
        width: 100%;
      }

      .name {
        @include flex(row, space-between, flex-start);
        width: 100%;

        .first_name {
          @include flex(column, flex-start, flex-start);
          width: 48.5%;
          gap: 6px;

          .labelF {
            font-family: Bricolage Grotesque;
            font-size: 16px;
            font-weight: 500;
            color: $black;
          }

          .inputF {
            width: 100%;

            input {
              box-sizing: border-box;
              @include flex(row, center, center);
              font-family: Agrandir;
              font-size: 16px;
              line-height: 100%;
              border: none;
              outline: none;
              width: 100%;
              background-color: $black;
              padding: 12px;
              border-radius: 8px;

              &::placeholder {
                color: $white;
                font-family: Agrandir;
              }
            }
          }
        }

        .last_name {
          @include flex(column, flex-start, flex-start);
          width: 48.5%;
          gap: 6px;

          .labelF {
            font-family: Bricolage Grotesque;
            font-size: 16px;
            font-weight: 500;
            color: $black;
          }

          .inputF {
            width: 100%;

            input {
              box-sizing: border-box;
              @include flex(row, center, center);
              font-family: Agrandir;
              font-size: 16px;
              border: none;
              outline: none;
              width: 100%;
              background-color: $black;
              padding: 12px;
              border-radius: 8px;

              &::placeholder {
                color: $white;
                font-family: Agrandir;
              }
            }
          }
        }
      }

      .email {
        width: 100%;

        .labelF {
          font-family: Bricolage Grotesque;
          font-size: 16px;
          font-weight: 500;
          color: $black;
        }

        .inputF {
          width: 100%;

          input {
            box-sizing: border-box;
            @include flex(row, center, center);
            font-family: Agrandir;
            font-size: 16px;
            border: none;
            outline: none;
            width: 100%;
            background-color: $black;
            padding: 12px;
            border-radius: 8px;

            &::placeholder {
              color: $white;
              font-family: Agrandir;
            }
          }
        }
      }

      .number {
        width: 100%;

        .labelF {
          font-family: Bricolage Grotesque;
          font-size: 16px;
          font-weight: 500;
          color: $black;
        }

        .inputF {
          width: 100%;

          input {
            box-sizing: border-box;
            @include flex(row, center, center);
            font-family: Agrandir;
            font-size: 16px;
            border: none;
            outline: none;
            width: 100%;
            background-color: $black;
            padding: 12px;
            border-radius: 8px;

            &::placeholder {
              color: $white;
              font-family: Agrandir;
            }
          }
        }
      }

      .message {
        width: 100%;

        .labelF {
          font-family: Bricolage Grotesque;
          font-size: 16px;
          font-weight: 500;
          color: $black;
        }

        .inputF {
          width: 100%;

          input {
            box-sizing: border-box;
            @include flex(column, flex-start, flex-start);
            font-family: Agrandir;
            font-size: 16px;
            border: none;
            outline: none;
            width: 100%;
            height: 100%;
            background-color: $black;
            padding: 12px;
            border-radius: 8px;
            word-wrap: break-word;
            max-width: 100%;

            &::placeholder {
              color: $white;
              font-family: Agrandir;
            }
          }
        }
      }

      .submit_button {
        width: 100%;
        @include flex(column, center, center);

        button {
          width: 100%;
          background: $green1;
          padding: 12px;
          font-family: Bricolage Grotesque;
          border: none;
          outline: none;
          border-radius: 8px;
          font-size: 18px;
          font-weight: 600;
          color: $black;
        }

      }
    }
  }

  .suggest {
    @include flex(row, space-between, center);
    width: 1500px;
    margin: 50px 0;
    color: $black;

    @media screen and (max-width:500px) {
      flex-direction: column-reverse;
      margin: 20px 0;
    }

    .suggest_left {
      @include flex(column, flex-start, flex-start);
      width: 48.5%;

      @media screen and (max-width:500px) {
        width: 100%;
        max-width: 95vw;
      }

      .suggest_head {
        width: 100%;
        font-family: Bricolage Grotesque;
        font-size: 48px;
        font-weight: 600;

        @media screen and (max-width:500px) {
          font-size: 32px;
        }
      }

      .suggest_desc {
        font-family: Agrandir;

        @media screen and (max-width:500px) {
          display: flex;
          flex-direction: column;
          font-size: 16px;
          line-height: 125%;
        }
      }

      .suggest_button {
        box-sizing: border-box;
        width: 100%;
        @include flex(row, space-between, center);
        margin: 10px 0;
        border: 1px solid $black;
        border-radius: 32px;
        padding: 5px 15px;
        cursor: pointer;
        transition: 0.3s all ease-in-out;

        &:hover {
          background-color: $green4;
          transition: 0.3s all ease-in-out;
        }

        &:hover .contact_text_icon {
          transform: rotate(360deg);
          transition: 0.3s all ease-in-out;
        }

        span {
          @include flex(row, center, center);
        }

        .contact_text {
          font-family: Bricolage Grotesque;
          font-size: 32px;
          font-weight: 600;
        }

        .contact_text_icon {
          transform: rotate(0deg);
        }
      }
    }

    .suggest_right {
      width: 48.5%;
      height: 100%;
      @include flex(row, center, center);

      @media screen and (max-width:500px) {
        width: 100%;
      }

      svg {
        @media screen and (max-width:500px) {
          width: 95vw;
        }
      }
    }
  }

  .collab {
    @include flex(row, space-between, center);
    flex-direction: row-reverse;
    width: 1500px;
    margin: 50px 0;
    color: $black;

    @media screen and (max-width:500px) {
      flex-direction: column-reverse;
      margin: 20px 0;
    }

    .collab_left {
      @include flex(column, flex-start, flex-start);
      width: 48.5%;

      @media screen and (max-width:500px) {
        width: 100%;
        max-width: 95vw;
      }

      .collab_head {
        width: 100%;
        font-family: Bricolage Grotesque;
        font-size: 48px;
        font-weight: 600;

        @media screen and (max-width:500px) {
          font-size: 32px;
        }
      }

      .collab_desc {
        font-family: Agrandir;

        @media screen and (max-width:500px) {
          display: flex;
          flex-direction: column;
          font-size: 16px;
          line-height: 125%;
        }
      }

      .collab_button {
        box-sizing: border-box;
        width: 100%;
        @include flex(row, space-between, center);
        margin: 10px 0;
        border: 1px solid $black;
        border-radius: 32px;
        padding: 5px 15px;
        cursor: pointer;
        transition: 0.3s all ease-in-out;

        &:hover {
          background-color: $green4;
          transition: 0.3s all ease-in-out;
        }

        &:hover .collab_text_icon {
          transform: rotate(360deg);
          transition: 0.3s all ease-in-out;
        }

        span {
          @include flex(row, center, center);
        }

        .collab_text {
          font-family: Bricolage Grotesque;
          font-size: 32px;
          font-weight: 600;
        }

        .collab_text_icon {
          transform: rotate(0deg);
        }
      }
    }

    .collab_right {
      width: 48.5%;
      height: 100%;
      @include flex(row, center, center);

      @media screen and (max-width:500px) {
        width: 100%;
      }

      svg {
        @media screen and (max-width:500px) {
          width: 95vw;
        }
      }
    }
  }
}