@import './Styles/constant';

#root {
  margin: 0;
  padding: 0;
  box-sizing: border-box
}

.app_container {
  @include flex(column, center, center);
  width: 100%;
  height: 100vh;
  transition: 0.3s all ease-in-out;

}

// Importing Fonts

@font-face {
  font-family: Agrandir;
  src: url('fonts/Agrandir-Regular.otf');
}
@font-face {
  font-family: AgrandirBold;
  src: url('fonts/Agrandir-TextBold.otf');
}

@font-face {
  font-family: Bricolage Grotesque;
  src: url('fonts/BricolageGrotesque.ttf');
}